<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.proyecto.tasksnotes">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_notes"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_notes_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TasksNotes">
        <activity
            android:name=".detail.Detail_Note_Activity"
            android:exported="false" />
        <activity
            android:name=".list.List_Notes"
            android:exported="false" />
        <activity
            android:name=".add.Add_Note_Activity"
            android:exported="false" />
        <activity
            android:name=".detail.Detail_Task_Activity"
            android:exported="false" />
        <activity
            android:name=".list.List_Tasks"
            android:exported="false" />
        <activity
            android:name=".add.Add_Task_Activity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".about.About_Activity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>